
<style>
    .bordered > div {
        border: 1px solid black;
    }
</style>

<div ng-controller="TestController">


    <div class="row mb-3 bordered">
        <div class="col-xs-4">
            @{ Html.RenderPartial("_Partial"); }
        </div>
        <div class="col-xs-4" id="my_dataviz"></div>
        <div class="col-xs-4">c</div>
    </div>


</div>
