
<style>
    .bordered > div {
        border: 1px solid black;
    }
</style>

<div ng-controller="TestController" ng-init="myInit()">


    <div class="row mb-3 bordered">
        @{ Html.RenderPartial("_Partial"); }
        <div class="col-xs-4">b</div>
        <div class="col-xs-4">c</div>

        <button class="btn btn-success" ng-click="increment()">increment</button>
    </div>


</div>
