<h2>Welcome</h2>

@*@if (ViewBag.WebpagesVersion != null)
        {
            <br />

            <div>
                DI is working
            </div>
        }

    For more detail about the template, please refer to this URL
        <a href="https://github.com/juanonsoftware/mvc4-angularjs-minimal">https://github.com/juanonsoftware/mvc4-angularjs-minimal</a>

        <div data-ng-show="true">
            1 + 1 = {{1+1}}
            <br />
            AngularJS is function
        </div>
*@

<div ng-app="app" ng-controller="WelcomeController">
    <form>
        <select ng-model="selectedItem" ng-change="changedYear()">
            <option value="">Select an option</option>
            <option ng-repeat="y in years" value="{{y}}">
                {{y}}
            </option>
        </select>
    </form>
 </div>