@{
    ViewBag.Title = "Index";
}

<div data-ng-view=""></div>

<br />
<br />
<div>
    <a href="/#/">Home</a> |
    <a href="/#/test">Test page</a> |
    <a href="/#/test2">Test 2 page</a> |
    <a href="/#/myalu">myalu method of Alu controller</a> 
</div>
